<!DOCTYPE html>
<html>
  <head>
     <title>video playlist | <%= @title %></title>
     <%= csrf_meta_tag %> 
     <%= stylesheet_link_tag 'custom' %>
     <%= javascript_include_tag :defaults %> 
  </head>
  <body>
    <div class="container">
      <header class="page">
        <ul>
          <li class="filler">|</li>
          <li><%= link_to "video playlist", root_path %> | </li>
          <li><%= link_to "alimi", about_path %> </li>
        </ul>
      </header>
      <section>
        <%= yield %>
      </section>
    </div>
  </body>
</html>