<!DOCTYPE html>
<html>
  <head>
    <title>video playlist | <%= @title %></title>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
    <!--[if lt IE 8]>
      <%= stylesheet_link_tag 'blueprint/ie' %>
    <![endif]-->
    <%= stylesheet_link_tag 'custom' %>
  </head>
  <body>
    <div class="container">
      <header class="site_header">
        <ul>
	      <li class="filler"></li>
          <li><%= link_to "video playlist", root_path %> | </li>
          <li><%= link_to "alimi", about_path %> </li>
		</ul>
      </header>
	  <section>
	    <%= yield %>
	  </section>
	</div>
  </body>
</html>